
name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  # Bloc Lint
  lint_code:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install flake8
      - run: flake8 .
  
  # Bloc Tests
  unit_tests:
    name: Unit Tests 
    runs-on: ubuntu-latest
    needs: [lint_code]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install -r requirements.txt
      - run: pip install pytest 
      - run: pytest

  # Bloc Code Security
  # sonarcloud_check:
  #   name: SonarCloud 
  #   runs-on: ubuntu-latest
  #   needs: [unit_tests]
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: SonarCloud Scan
  #       uses: sonarsource/sonarcloud-github-action@v2
  #       with:
  #         projectBaseDir: .
  #       env:
  #         SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  #         SONAR_PROJECT_KEY: alexandrevallon_ci-pokedex
  #         SONAR_ORGANIZATION: alexandrevallon

  codeql_analysis:
    name: CodeQL Analysis
    runs-on: ubuntu-latest
    needs: [unit_tests]
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: python

      - name: Autobuild
        uses: github/codeql-action/autobuild@v2

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

  
  trivy_scan:
    name: Trivy Scan 
    runs-on: ubuntu-latest
    needs: [unit_tests] 
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: docker build -t my-app:latest .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: my-app:latest
          format: table
          exit-code: 0
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
  
  # Bloc Package
  docker_build:
    name: Docker Build 
    runs-on: ubuntu-latest
    needs: [codeql_analysis, trivy_scan]
    steps:
      - uses: actions/checkout@v3
      - run: docker build -t superpokedex-web:latest .
  
  npm_pack:
    name: NPM Package
    runs-on: ubuntu-latest
    needs: [codeql_analysis, trivy_scan]
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm pack